@page
@model KelleSolutions.Pages.Properties.MyPropertiesModel
@{
    ViewData["Title"] = "My Properties";
}

<h2>My Properties</h2>
<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Created</th>
            <th>City</th>
            <th>Postal</th>
            <th>Street</th>
            <th>Beds</th>
            <th>Baths</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var property in Model.ViewUserProperties)
    {
        <tr>
            <td>@property.ID</td>
            <td>@property.CreationDate</td>
            <td>@property.City</td>
            <td>@property.Postal</td>
            <td>@property.Street</td>
            <td>@property.Bed</td>
            <td>@property.Bath</td>
        </tr>
    }
    </tbody>
</table>
