@page
@model KelleSolutions.Pages.Leads.LeadsModel
@{
    ViewData["Title"] = "Leads";
}
<link rel="stylesheet" href="~/css/mainpages.css" />
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;250;300;400;500;600&display=swap" rel="stylesheet" />

<div class="header-section">
    <h3>Leads</h3>
</div>

<div class="listings-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserLeads)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>@item.CreationDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a href="/Leads/ViewLead?id=@item.Id" class="view-listings">View Lead</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pagination-section">
    <div class="page-navigation">
        <div class="page-item">
            <a class="page-link">Previous</a>
        </div>
        <div class="page-item">
            <a class="page-link active">1</a>
        </div>
        <div class="page-item">
            <a class="page-link">Next</a>
        </div>
    </div>
</div>
